# Task 1- 1- Install Jupyter notebook and run the first program and share the screenshot of the output.

In [211]:
# My first program- A no. guessing kind of game-

a= input("Enter your name ")

print ("Hello!" + a)

x = "Guess a no. and type ok !!!!"
print(x)
b= input ()
if b == ("ok"):
    print ("Multiply your no by 2 and type ok")
c = input ()    
if c == ("ok"):
    print ("add 30 to your no, devide by 2 and click ok")
d = input ()
if d == ("ok"):
    print ("Deduct your original no. from total")
e= input ("Ready to see magic... Type yes!! ")
if e == ("yes"):
    print (" You have left with 15!! Go Enjoy and buy muffins..:)!!")

Enter your name Ashish
Hello!Ashish
Guess a no. and type ok !!!!
ok
Multiply your no by 2 and type ok
ok
add 30 to your no, devide by 2 and click ok
ok
Deduct your original no. from total
Ready to see magic... Type yes!! yes
 You have left with 15!! Go Enjoy and buy muffins..:)!!

In [206]:
#2- Write a program for no. divisble by 7 and not multiple of 5 in the range 2000 and 3000 inclusive-

my_list=[]
for i in range (2000, 3001):
    if (i%7==0 and i%5!=0):
        my_list.append(i)
print(my_list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

In [207]:
#3- Write a program to accept the user's first and last name and printing in the the reverse order with a space-

first_name= input ("Enter you first Name...")
last_name= input ("Enter your last name...")
print ((first_name+" "+last_name) [::-1])

Enter you first Name...Ashish
Enter your last name...Garg
graG hsihsA

In [208]:
#4-write a program to find the volume of a sphere with diameter 12 cm formula V=4/3 * Ï€ * r**3 ..Note- radius used is diameter/2

pi= 3.141592653589793238
d= 12
r = (d/2)
v = 4/3*pi*r**3
print ("volume of a sphere is:",v ,"cm^3")

volume of a sphere is: 904.7786842338603 cm^3

# Task 2-

In [209]:
#1- Write a program accepts a sequence of comma-separated numbers from console and generate a list.

a= input()
b= a.split(",")
for i in range (len(b)):
    b[i]=(int(b[i]))
print (b)

14,565,98,56,5699,586,888888,12,5,6,8,636,5
[14, 565, 98, 56, 5699, 586, 888888, 12, 5, 6, 8, 636, 5]

In [210]:
#2 Gerate patter as shown in output-

for i in range (1,6):
    for j in range (i):
        print("*", end=" ")
    print()
for i in range (4,0,-1):
    for j in range (i):
        print ("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [92]:
#3- write a program to reverse a word after accepting the input from the user.

a = input("Type your input: ")
print(a[::-1])

Type your input: AcadGild
dliGdacA

In [170]:
#4- write a program printing statement as shown in output-  Used new line and tab command-

print ('''WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\tand to secure to all its citizens''')

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens